[user]
	name = Tamás Király
	email = {{ .email | quote }}
[submodule]
	recurse = true
[core]
	editor = code -w -n
[rebase]
	autosquash = true
	autostash = true
[color]
	ui = auto
[diff]
	algorithm = histogram
[merge]
	autoStash = true
[init]
	defaultBranch = master
[alias]
    cf = commit --fixup
[pull]
	rebase = true
